#SMIOL test programs
smiol_runner_c
smiol_runner_f

# All object and library files
*.o
*.a

# All mod files
*.mod

# NetCDF Files
*.nc

# Intermediate files that may be produced by Intel compilers
*.i
*.i90
