#SMIOL test programs
smiol_runner_c
smiol_runner_f

#SMIOL test logs
smiol.????.test
smiolf.????.test

#SMIOLf_put_var interfaces
smiolf_put_var_interface_headers.inc
smiolf_put_var_interfaces.inc

# All object and library files
*.o
*.a

# All mod files
*.mod

# NetCDF Files
*.nc

# Intermediate files that may be produced by Intel compilers
*.i
*.i90
